<%- include('./layouts/header') %>

<h1 class="title"></h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <li><b>Develope By : </b><b>Sandip Pande </b></li>
    <li><b>Subject : </b>Assignment-Role-Based Access Control (RBAC) UI</li>
    <li>
      <b>Submit </b>
    </li>
  </ol>
</div>

<%- include('./layouts/footer') %>
